{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-sm-6 col-md-6">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWTZi3-RkK9TDMV5u-oNpzLz-gBvJ0sPtG-Q&usqp=CAU" alt="" width="350px" class="img-fluid">
        <h3 class="cafe-name">小次男咖哩所</h3>
        <a href="https://pic.pimg.tw/d0169953/1550923399-2719489492_wn.jpg">小次男咖哩所 菜單</a><br>
        <a href="https://www.google.com/maps/place/%E5%B0%8F%E6%AC%A1%E7%94%B7+%E5%92%96%E5%93%A9%E6%89%80/@24.1410804,120.6827946,15z/data=!4m2!3m1!1s0x0:0x14bd0c65c8fe11a?sa=X&ved=2ahUKEwj7n831xqb1AhVYH7kGHYqxA1oQ_BJ6BAguEAU">小次男咖哩所 店面位置</a><br>
    </div>

    <div class="col-sm-6 col-md-6">
        <img src="https://lh3.googleusercontent.com/YnI7JeG09XAmtgNZlz2z1C4vHGiudB9i9D8ynhnwnnyyuOGJ8gTen4yR3e0diSqOTPrpJ5ho0LpoUSFkoegY3fD8ED7vJCBVzsvwyvyusn6EdA=s600" alt="" width="230px" class="img-fluid">
        <h3 class="cafe-name">空也素麵食</h3>
        <a href="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.6435-9/120281124_3308683275845114_8384878911114048966_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=0debeb&_nc_ohc=WRUZvJ3FiNkAX8Zp4ar&_nc_ht=scontent-tpe1-1.xx&oh=00_AT-WtnMfaIw6FQbmrdXOX-vyPlu2UtZYUXq4F2pEh2TCjQ&oe=61FFB426">空也素麵食 菜單</a><br>
        <a href="https://www.google.com/maps/place/%E7%A9%BA%E4%B9%9F%E7%B4%A0%E9%BA%B5%E9%A3%9F/@24.1636558,120.6327641,17z/data=!3m1!4b1!4m5!3m4!1s0x34693d8de6c6c3ed:0x8bec7ec3e4202703!8m2!3d24.1636689!4d120.6349201?hl=zh-TW">空也素麵食 店面位置</a><br>
    </div>

    <div class="col-sm-6 col-md-6">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0A4GiyZbe_LLrTLG3qytJIIPQ_ZieEcM3Jg&usqp=CAU" alt="" width="350px" class="img-fluid">
        <h3 class="cafe-name">鹽與胡椒餐館</h3>
        <a href="https://www.facebook.com/saltpeppertaiwan/menu">鹽與胡椒餐館 菜單</a><br>
        <a href="https://www.google.com/maps?bih=525&biw=1163&rlz=1C1AVFC_enTW937TW937&hl=zh-TW&uact=5&gs_lcp=Cgdnd3Mtd2l6EAMyBQgAEIAEMgsILhCABBDHARCvATIFCAAQgAQyCwguEIAEEMcBEK8BMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEOgcIABBHELADOgQIABAeOgYIABAFEB5KBAhBGABKBAhGGABQqgdYuQhgmgpoAXAAeACAATuIAXOSAQEymAEAoAEByAEKwAEB&q=%E9%B9%BD%E8%88%87%E8%83%A1%E6%A4%92&um=1&ie=UTF-8&sa=X&ved=2ahUKEwjM17-_y6b1AhXfw4sBHapZA7sQ_AUoAXoECAIQAw">鹽與胡椒餐館 店面位置</a><br>
    </div>

    <div class="col-sm-6 col-md-6">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWtHG8Pmha6NeqNbGoeQOEIYfIRf74F0BD2g&usqp=CAU" alt="" width="400px" class="img-fluid">
        <h3 class="cafe-name">禾壤餐酒館 SOIL RESTAURANT</h3>
        <a href="https://www.soil.com.tw/menu.html">禾壤餐酒館 SOIL RESTAURANT 菜單</a><br>
        <a href="https://www.google.com/maps?q=%E7%A6%BE%E5%A3%A4+soil&bih=525&biw=1148&rlz=1C1AVFC_enTW937TW937&hl=zh-TW&um=1&ie=UTF-8&sa=X&ved=2ahUKEwjhquGszKb1AhVBHKYKHcwAC8AQ_AUoAXoECAIQAw">禾壤餐酒館 SOIL RESTAURANT 店面位置</a><br>
    </div>
</div>
{% endblock %}
