{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-sm-6 col-md-6">
        <img src="https://cdn2.ettoday.net/images/5206/d5206430.jpg" alt="" width="350px" class="img-fluid">
        <h3 class="cafe-name">Vegan Amore 蔬慕</h3>
        <a href="https://www.gooddeedstw.com/pages/veganamoremenu">Vegan Amore 蔬慕 菜單</a><br>
        <a href="https://www.google.com/maps/place/Vegan+Amore%E8%94%AC%E6%85%95/@25.0489918,121.515667,17z/data=!3m1!4b1!4m5!3m4!1s0x3442a9c8e139ba2d:0x832846680e863c4b!8m2!3d25.0489918!4d121.5178557">Vegan Amore 蔬慕 店面位置</a><br>
    </div>

    <div class="col-sm-6 col-md-6">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmdj5LaMPrt8e6DEdg_R8W8VdPt3X-FVWnRg&usqp=CAU" alt="" width="380px" class="img-fluid">
        <h3 class="cafe-name">odd fish cafe</h3>
        <a href="https://www.google.com/search?q=oddfish+%E8%8F%9C%E5%96%AE&rlz=1C1AVFC_enTW937TW937&source=lnms&tbm=isch&sa=X&ved=2ahUKEwio_MbGwab1AhVyIqYKHeShA1EQ_AUoAnoECAIQBA&biw=1163&bih=525&dpr=1.65">odd fish cafe 菜單</a><br>
        <a href="https://www.google.com/maps?q=oddfish&source=lmns&bih=525&biw=1163&rlz=1C1AVFC_enTW937TW937&hl=zh-TW&sa=X&ved=2ahUKEwjXu8ajwab1AhXI-WEKHZsSBFgQ_AUoAXoECAEQAQ">odd fish cafe 店面位置</a><br>
    </div>

    <div class="col-sm-6 col-md-6">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrRdYo0SI8kO36EQqp4cOlC6S9vW_9C6Qmuw&usqp=CAU" alt="" width="350px" class="img-fluid">
        <h3 class="cafe-name">Mianto 艾果豐</h3>
        <a href="https://www.mianto.com.tw/html/menu.php">Mianto 艾果豐 菜單</a><br>
        <a href="https://www.google.com/maps?q=mianto+%E8%89%BE%E6%9E%9C%E8%B1%90&source=lmns&bih=525&biw=1163&rlz=1C1AVFC_enTW937TW937&hl=zh-TW&sa=X&ved=2ahUKEwjWrYq3wqb1AhUhE3AKHWWxCiMQ_AUoAXoECAEQAQ">Mianto 艾果豐 店面位置</a><br>
    </div>

    <div class="col-sm-6 col-md-6">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSijSROhFA4Y8_8Vun3Jz5WhT9fpzkiLV9ckw&usqp=CAU" alt="" width="400px" class="img-fluid">
        <h3 class="cafe-name">TAMED FOX XINYI</h3>
        <a href="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.6435-9/49103509_2034554656631950_7537579364376903680_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=730e14&_nc_ohc=UrwwNQxPe8wAX97KcAr&_nc_ht=scontent-tpe1-1.xx&oh=00_AT-qpvU_bmcf1iM7FuJKyXOhqF4A6r6gQImGWS1ojmo_fw&oe=6201F3BE">TAMED FOX XINYI 菜單</a><br>
        <a href="https://www.google.com/maps/place/TAMED+FOX+XINYI/@25.0369923,121.5671604,17z/data=!3m1!4b1!4m5!3m4!1s0x3442aba3de2ab327:0xa714062955bba236!8m2!3d25.0369875!4d121.5693491?hl=zh-TW">TAMED FOX XINYI 店面位置</a><br>
    </div>
</div>
{% endblock %}
