{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-sm-6 col-md-3">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3ei3QUT_WFaCSSTCfmxCcIMfooHXN_f1Y2MkyqGZ5d_ADbz_6zM8OE9GsPAwX0RyDXa8&usqp=CAU" alt="" class="img-fluid">
        <h3 class="cafe-name">美式</h3>
        美國飲食吸收了美國原住民的烹飪法和食材，例如火雞、馬鈴薯、玉米、南瓜，這些都成了美國文化不可或缺的一部分。而蘋果派、比薩餅、漢堡包原先都是來自或改良自歐洲，現在則是美國快餐文化的象徵。
    </div>

    <div class="col-sm-6 col-md-3">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkmWo0rXv5yo6a7ME9WXCCPwNwkrEw_QYrHB1u6SBcLcfpWFSX6RNOu-gFCx0lW9BpRiI&usqp=CAU" alt="" class="img-fluid">
        <h3 class="cafe-name">中式</h3>
        中華料理的特點為色、香、味、意、形，被稱為「國菜五品」。中國菜有強烈的香氣，並根據各地風味採用不同的調味。按烹飪特點又可分為選料、刀工、火候和調味。
    </div>

    <div class="col-sm-6 col-md-3">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXPUtgyj0w1jms6yjAY5xmV-xkOc14Gxx_-Q&usqp=CAU" alt="" class="img-fluid">
        <h3 class="cafe-name">日式</h3>
        日本料理比起味道，更加追求食物的季節感以及精緻的美感，因此和食也因而被評為「眼睛的料理」，為「外觀過度適合欣賞，只是吃掉的話會倍感可惜」之意。導致這一現象的原因是由於日本人對「擺盤」的執著。
    </div>

    <div class="col-sm-6 col-md-3">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHtEOkVBQP0SeJBKTf6O2SZU-wlboKSFafaRYd233a4LPiN0TcFQyiqESqiV0FbnwEMek&usqp=CAU" alt="" class="img-fluid">
        <h3 class="cafe-name">西式</h3>
西方飲食指西方國家的飲食。西方國家，是相對於東亞而言的歐洲白人世界文化圈，更準確稱呼應為歐洲（歐式）飲食，狹義上的西餐或西菜是指西方國家的正餐菜式。 
    </div>
</div>
{% endblock %}
